@using mysclool.Areas.Admin.Models
@model Subjects

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới môn học</h2>
    </div>

    <div class="container shadow p-5">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i> @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle"></i> @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
            <div class="form-row">

                <div class="form-group col-md-6 mb-3">
                    <label asp-for="SubjectName">Tên môn học <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="SubjectName" placeholder="Nhập tên môn học..." />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
                </div>

            <a asp-area="Admin" asp-controller="Subject" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i> Quay lại
            </a>

            <button type="submit" class="btn btn-lg btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu môn học mới
            </button>
        </form>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}
}