@using mysclool.Areas.Admin.Models
@using mysclool.Models
@model IList<Subjects>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int stt = 1;
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách môn học</h2>
    </div>

    <section>
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-2 text-center">Mã môn học</th>
                                    <th class="col-2 text-center">Tên môn học</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@item.SubjectID</td>
                                            <td class="text-left">@item.SubjectName</td>
                                        </tr>
                                        stt++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center text-muted">
                                            Không có môn học nào hiển thị
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>